:root {
  /* 
    -------------- Primary */
  --Very-Dark-Magenta: hsl(300, 43%, 22%);
  --Soft-Pink: hsl(333, 80%, 67%);

  /* 
    -------------- Neutral */
  --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
  --Light-Grayish-Magenta: hsl(300, 24%, 96%);
  --White: hsl(0, 0%, 100%);
}

/* 
 --------------- RESET CSS */
*,
*::before,
*::after {
  box-sizing: border-box;
}
body,
h1,
p {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
}

html {
  font-size: 15px;
}
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: "Spartan", sans-serif;
  background-image: url(./images/bg-pattern-top-desktop.svg),
    url(./images/bg-pattern-bottom-desktop.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: right 60vw bottom 60vh, left 20vw top 30vh;
  background-color: var(--White);

  display: flex;
  justify-content: center;
  align-items: center;
}

/* 
    --------------- MAIN CSS */
.main {
  margin: 18vh 12vw;
}
.main-top {
  display: flex;
  margin: 0 auto;
}
.desc {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
}
.desc .main__title {
  color: var(--Very-Dark-Magenta);
  padding-right: 10rem;
  font-size: 2.5rem;
  line-height: 2.5rem;
}
.main__desc {
  padding-right: 5.2rem;
  color: var(--Dark-Grayish-Magenta);
  font-weight: 500;
  font-size: 0.9rem;
  margin: 1rem 0 0;
}

.rating {
  width: 100%;
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  margin-left: 3rem;
  padding: 0 0 1rem 5rem;
}
.rating-container {
  width: 100%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  background: var(--Light-Grayish-Magenta);
  border-radius: 10px;
  margin-top: 1rem;
  padding: 1.1rem 1.5rem;
}
.rating-container:nth-child(1) {
  margin-left: -5.8rem;
}
.rating-container:nth-child(2) {
  margin-left: -2.8rem;
}
.rating-container__star {
  display: flex;
  justify-content: space-between;
}
.rating-container__star img {
  width: auto;
  height: 14px;
}
.rating-container__star img:not(:first-child) {
  margin-left: 5px;
}
.rating-container__text {
  margin-left: 2rem;
  color: var(--Very-Dark-Magenta);
  font-weight: 700;
  font-size: 0.8rem;
}

/* 
-------------- Comment Section */
.comment-container {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}
.comment {
  background: var(--Very-Dark-Magenta);
  padding: 2.5rem 1.7rem;
  border-radius: 10px;
  height: 85%;
}
.comment:not(:first-child) {
  margin-left: 2rem;
}
.comment-profile {
  display: flex;
}
.comment-profile img {
  height: 2.5rem;
  width: auto;
  border-radius: 50%;
}
.comment-profile-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 1.5rem;
}
.comment-profile-details__name {
  color: white;
  font-weight: 700;
}
div.comment p {
  font-size: 0.75rem; /* Share */
}
.comment-profile-details__status {
  color: var(--Soft-Pink);
}
.comment__text {
  margin-top: 1.5rem;
  color: white;
  line-height: 1.5rem;
}
.comment:nth-child(2) {
  margin-top: 1rem;
}
.comment:nth-child(3) {
  margin-top: 2rem;
}

/* 
--------------- RESPONSIVE GOES HERE */
@media screen and (max-width: 500px) {
  html {
    font-size: 12px;
  }
  body {
    background-image: url(./images/bg-pattern-bottom-mobile.svg),
      url(./images/bg-pattern-top-mobile.svg);
    background-position: right 0 bottom 0, left 0 top 0;
    background-size: 100%;
  }
  .main {
    margin-top: 10vh;
    flex-direction: column;
  }
  .main-top {
    flex-direction: column;
    text-align: center;
  }
  .main__title {
    margin: 0 2.5rem;
  }
  .main__desc {
    margin: 2.5rem 0.5rem 0;
    font-size: 1.1rem;
  }
  .main__title,
  .main__desc {
    padding-right: 0 !important;
  }
  .rating {
    margin: 2rem 0 0 0;
    padding-left: 0;
    justify-content: center;
    align-items: center;
  }
  .rating-container {
    width: 100%;
    flex-direction: column;
    margin-left: 0 !important;
  }
  .rating-container__star {
    /* width: 100%; */
    justify-content: center;
    margin-left: 0;
  }
  .rating-container__text {
    margin: 1rem 0 0 0;
  }
  .comment-container {
    flex-direction: column;
  }
  .comment {
    margin: 1rem 0 0 0 !important;
  }
}
